body {
    max-width: 1500px;
    background-color: #181d1a;
    color: #e2e7d3;
}

.header {
    border: 1px solid #e2e7d3;
    margin: 20px;
    padding: 20px;;
}

.header p {
    display: inline;
}

.main {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    border: 1px solid #e2e7d3;
}

.profielfoto {
    max-width: 200px;
}

section {
    max-width: 900px;
    border: 1px solid #e2e7d3;
    margin: 20px auto;
    padding: 20px;
}

article {
    border: 1px solid #e2e7d3;
    margin: 20px;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #e2e7d3;
    margin: 20px;
    padding: 20px;
}