body {
    max-width: 50%;
    margin: 0 auto;
}

.header {
    border: 1px solid #000;
    margin: 20px;
    padding: 20px;
}

#overmij {
    display: none;
}

.header p {
    display: inline;
}

.main {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.profielfoto {
    max-width: 200px;
}

.links {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

section {
    max-width: 900px;
    border: 1px solid #000;
    margin: 20px auto;
    padding: 20px;
}

article {
    border: 1px solid #000;
    margin: 20px;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #000;
    margin: 20px;
    padding: 20px;
}